# Random Forest Regressor

In [1]:
import pandas as pd
features=pd.read_csv("temps.csv")
features.head(5)

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41

In [2]:
features.describe()

,year,month,day,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
count,348.0,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000,348.000000
mean,2016.0,6.477011,15.514368,62.652299,62.701149,59.760632,62.543103,57.238506,62.373563,59.772989,60.034483
std,0.0,3.498380,8.772982,12.165398,12.120542,10.527306,11.794146,10.605746,10.549381,10.705256,15.626179
min,2016.0,1.000000,1.000000,35.000000,35.000000,45.100000,35.000000,41.000000,46.000000,44.000000,28.000000
25%,2016.0,3.000000,8.000000,54.000000,54.000000,49.975000,54.000000,48.000000,53.000000,50.000000,47.750000
50%,2016.0,6.000000,15.000000,62.500000,62.500000,58.200000,62.500000,56.000000,61.000000,58.000000,60.000000
75%,2016.0,10.000000,23.000000,71.000000,71.000000,69.025000,71.000000,66.000000,72.000000,69.000000,71.000000
max,2016.0,12.000000,31.000000,117.000000,117.000000,77.400000,92.000000,77.000000,82.000000,79.000000,95.000000

In [3]:
features.iloc[:,5:].head(5)

,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,45,45.6,45,43,50,44,29
1,45,45.7,44,41,50,44,61
2,44,45.8,41,43,46,47,56
3,41,45.9,40,44,48,46,53
4,40,46.0,44,46,46,46,41

In [4]:
print("the shape of our features is:",features.shape)

the shape of our features is: (348, 12)

In [5]:
X=features.drop(["actual","week"],axis=1)
y=features["actual"]
print(X)

     year  month  day  temp_2  temp_1  average  forecast_noaa  forecast_acc  \
0    2016      1    1      45      45     45.6             43            50
1    2016      1    2      44      45     45.7             41            50
2    2016      1    3      45      44     45.8             43            46
3    2016      1    4      44      41     45.9             44            48
4    2016      1    5      41      40     46.0             46            46
..    ...    ...  ...     ...     ...      ...            ...           ...
343  2016     12   27      42      42     45.2             41            50
344  2016     12   28      42      47     45.3             41            49
345  2016     12   29      47      48     45.3             43            50
346  2016     12   30      48      48     45.4             44            46
347  2016     12   31      48      57     45.5             42            48

     forecast_under  friend
0                44      29
1                44      61
2                47      56
3                46      53
4                46      41
..              ...     ...
343              47      47
344              44      58
345              45      65
346              44      42
347              47      57

[348 rows x 10 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)
feature_list=X.columns
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor(n_estimators=1000,random_state=42)
rf.fit(X_train,y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [10]:
pip install pydot

Collecting pydot
  Obtaining dependency information for pydot from https://files.pythonhosted.org/packages/7f/90/c9b51f3cdff89cd8f93382060330f43d1af098a6624cff439e700791e922/pydot-2.0.0-py3-none-any.whl.metadata
  Downloading pydot-2.0.0-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: pyparsing>=3 in c:\users\welcome\anaconda3\lib\site-packages (from pydot) (3.0.9)
Downloading pydot-2.0.0-py3-none-any.whl (22 kB)
Installing collected packages: pydot
Successfully installed pydot-2.0.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
from sklearn.tree import export_graphviz
import pydot
tree=rf.estimators_[5]
export_graphviz(tree,out_file="tree.dot",feature_names=feature_list,rounded=True,precision=2)
(graph,)=pydot.graph_from_dot_file("tree.dot")
graph.write_png("tree.png")